{% extends 'index.html' %}

{% block content %}
<!-- Контент страницы -->
<div class="container mt-5">
    <h2 class="text-center mb-4">Отложенные рассылки</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Тема</th>
                <th scope="col">Сообщение</th>
                <th scope="col">Дата и время отправки</th>
                <th scope="col">Статус</th>
                <th scope="col">Статус клиента</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            {% for subscribers_instance in subscribers %}
                <th scope="row">{{ subscribers_instance.id }}</th>
                <td>{{ subscribers_instance.email }}</td>
                <td>Рассылка 1</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</td>
                <td>2024-02-10 10:00</td>
                <td>Отправлено</td>
                <td>Прочитано</td>
            {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
