{% extends 'index.html' %}

{% block content %}
<!-- Контент страницы -->
<div class="container mt-5">
    <h2 class="text-center mb-4">Отложенные рассылки</h2>
    <div class="row justify-content-center mb-4">
        <div class="col-6 text-center">
    <a class="nav-link btn btn-info text-light btn-lg btn-block" href="#" data-toggle="modal"
                       data-target="#scheduledNewsletterModal">Создать отложенную рассылку</a>
            </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Тема</th>
                <th scope="col">Сообщение</th>
                <th scope="col">Дата и время отправки</th>
                <th scope="col">Статус</th>
                <th scope="col">Статус клиента</th>
            </tr>
            </thead>
            <tbody>
            {% for subscribers_instance in subscribers %}
            {% for mailings_instance in mailings %}
            <tr>
                <th scope="row">{{ subscribers_instance.id }}</th>
                <td>{{ subscribers_instance.email }}</td>
                <td>{{ mailings_instance.theme }}</td>
                <td>{{ mailings_instance.message }}</td>
                <td>2024-02-10 10:00</td>
                <td>Отправлено</td>
                <td>Прочитано</td>
            </tr>
            {% endfor %}
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}
