{% extends 'index.html' %}

{% block content %}
<!-- Контент страницы -->
<div class="container mt-5">
    <h2 class="text-center mb-4">Рассылки:</h2>
    <div class="row justify-content-center mb-4">
        <div class="col-6 text-center">
    <a class="nav-link btn btn-primary text-light btn-lg btn-block" href="#" data-toggle="modal"
                       data-target="#newsletterModal">Создать рассылку!</a>
            </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped" style="background-color: #f3f3f3;">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Тема</th>
                <th scope="col">Сообщение</th>
                <th scope="col">Статус</th>
                <th scope="col">Статус клиента</th>
            </tr>
            </thead>
            <tbody>
            {% for subscribers_instance in subscribers %}
            {% for mailings_instance in mailings %}
            <tr>
                <th scope="row">{{ subscribers_instance.id }}</th>
                <td>{{ subscribers_instance.email }}</td>
                <td>{{ mailings_instance.theme }}</td>
                <td>{{ mailings_instance.message }}</td>
                <td>Отправлено</td>
                <td>Прочитано</td>
            </tr>
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}