{% extends 'index.html' %}

{% block content %}
<div class="container mt-5">
    <div class="text-center mb-4">
        <h2 class="display-3" style="font-family: 'Arial Black', sans-serif; color: gray;">Mail @ Service</h2>
        <h2 class="text-center mb-4">Список подписчиков:</h2>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped" style="background-color: #f3f3f3;">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">День рождения</th>
            </tr>
            </thead>
            <tbody>
            {% for subscribers_instance in subscribers %}
            <tr>
                <th scope="row">{{ subscribers_instance.id }}</th>
                <td>{{ subscribers_instance.email }}</td>
                <td>{{ subscribers_instance.first_name }}</td>
                <td>{{ subscribers_instance.last_name }}</td>
                <td>{{ subscribers_instance.birthday }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
